* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}
#profileImg{
    width: 100%;
}
header {
    background-color: beige;
    border-bottom: 3px solid brown;
    margin-bottom: 10px;
}
article {
    background-color: beige;
    align-items: center;
    justify-content: center;
    margin:0 auto 20px;
    padding: 50px;
    width: 70%;
    border: 3px solid brown;
    border-radius: 10px;
}
footer {
    padding: 10px;
    background-color: beige;
    border-top: 3px solid brown;
    text-align: center;
}

nav {
    list-style-type: none;
    display: inline;
}
.nav-bar, .nav-link {
    display: inline;
}
#brand-title {
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: black;
    padding: 5px;
}
a:hover {
    color: blue;
}

form {
    border: 2px solid black;
    width: 100%;
    margin: 0 auto 20px;
    border-radius: 10px;
    padding: 20px;
}
.form-label {
    margin-top: 10px;
    margin-bottom: 5px;
}
input, textarea {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}